# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraformrc
terraform.rc

# Secrets / creds
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
